/* jost-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jost-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* jost-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/jost-v15-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* jost-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/jost-v15-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


:root{
    --black: black;
    --primary-color: #f6623e;
    --secondary-color: #454545;
    --nobel: #9d9d9d;
    --white: #ffffff;
    --bg: #fff8f6;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid greenyellow !important; */
}

body{
    font-family: 'Jost';
    font-weight: 400;
    font-style: normal;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4{
    font-weight: 600;
}

h1{
    font-size: 66px;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 40px;
}

h4{
    font-size: 26px;
}

p{
    color: var(--secondary-color);
    font-size: 20px;
    line-height: 24px;
}

a{
    color: #000;
    text-decoration: none;
}

.button{
    color: var(--white);
    background-color: var(--primary-color);
    padding: 14px 30px;
    border: none;
    outline: none;
    font-weight: 600;
    font-family: 'Jost';
    transition: all 0.5s;
}

.button:hover{
    background-color: #db5635;
}

.button2{
    color: #000;
    border: 2px solid var(--primary-color);
    padding: 14px 30px;
    background-color: var(--white);
    outline: none;
    font-weight: 600;
    font-family: 'Jost';
    transition: all 0.5s;
}

.button2:hover{
    background-color: var(--primary-color);
    color: var(--white);
}

.container{
    max-width: 85%;
    margin: 0 auto;
}

img{
    width: 100%;
}

.header{
    
    position: fixed;
    z-index: 50;
    width: 100%;
    background-color: #fff;
}


.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 104px;
    
}


/*----------------*/


.close-icon-menu{
	display: none;
}


.menu{
    position: relative;
	z-index: 5;
	flex: 0 0 252px;
	display: flex;
	justify-content: start;
	align-items: center;
}


.icon-menu{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    height: 18px;
    flex: 0 0 30px;
    margin: 0 0 0 20px;
}
.icon-menu::after, .icon-menu::before{
    content: "";
    height: 2px;
    background: var(--black);
}

.icon-menu span{
    height: 2px;
    background: var(--black);
}

.icon-menu span{
    height: 2px;
    background: var(--secondary-color);
}


.close-icon-menu{
    position: relative;
    flex: 0 0 30px;
    height: 30px;
    margin: 0 0 0 20px;
}

.close-icon-menu::after, .close-icon-menu::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    background: var(--black);
    height: 2px;
}


.close-icon-menu::before{
    transform: rotate(45deg);
}

.close-icon-menu::after{
    transform: rotate(-45deg);
}

.header:target .icon-menu{
    display: none;
}

.header:target .close-icon-menu{
    display: flex;
}


.menu__body{
    position: fixed;
    top: 0;
    left: -10%;
    width: 10%;
    height: 100%;
    overflow: auto;
    background: var(--white);
    margin-top: 104px;
    /* padding: 90px 15px 30px 15px; */
    transition: all 0.5s;
    z-index: 3;
}

.header:target .menu__body {
    left: 0;
}

.header:target .menu__body::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    background: var(--white);
}


.menu__body ul{
    margin-left: 40px;
    list-style: none;
}

/*---------------*/

.search{
    display: flex;
    gap: 1rem;
    color: var(--secondary-color);
}

.fa-bag-shopping{
    position: relative;
}

.fa-bag-shopping span{
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: 5px;
    font-size: 5px;
    position: absolute;
    top: -3px;
    left: 7px;
}

.review{
    display: flex;
    background-color: var(--bg);
    justify-content: center;
    gap: 156px;
    padding: 150px;
    align-items: center;
    position: relative;
    z-index: 1;
}

.review__info{
    max-width: 650px;
}

.review__info h4{
    color: var(--primary-color);
}

.review__info p{
    margin: 30px 0;
}
.review .image img{
    position: relative;
    z-index: 2;
}

.review .image{
    position: relative;
}

.review .image::before{
    content: "";
    background-image: url("../images/orange.png");
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
    z-index: 1;
    top: 100px;
    left: 300px;
}


.collection{
    gap: 90px;
    margin-top: 100px;
    padding: 0 200px;
}

.collection__info p{
    font-weight: 500;
    margin: 30px 0;
}

.collection__info{
    max-width: 560px;
}

.swiper{
    width: 340px;
}

.swiper-pagination{
    position: relative !important;
}


.swiper-pagination-bullet-active{

    background-color: var(--primary-color) !important;
}


  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  swiper-slide p{
    font-size: 16px;
    font-weight: 500;
    color: #000;
  }

.control{
    gap: 150px;
    padding: 150px 300px;
    position: relative;
}

.control::before{
    content: "";
    background-color: var(--bg);
    position: absolute;
    width: 30%;
    background-repeat: no-repeat;
    height: 80%;
    z-index: 2;
    top: 10%;
    left: 0;
}

.control img{
    position: relative;
    z-index: 3;
}

.control p{
    font-size: 16px;
    margin: 26px 0;
    font-weight: 500;
}

.control__info p:first-of-type{
    color: #000;
    text-shadow: -4px 4px 4px rgba(0,0,0,0.38);
}

.control .image-bg{
    position: absolute;
    top: 100px;
    right: 0;
}

.sale__head{
    justify-content: space-between;
    align-items: end;
    margin-bottom: 80px;
    position: relative;
    z-index: 2;
}

.info__view{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
}

.product__item p{
    font-size: 14px;
}

.item__title{
    color: #000;
    font-weight: 500;
}

.price{
    justify-content: start;
    gap: 20px;
}

.price p:nth-of-type(1){
    color: var(--primary-color);
}

.price p:nth-of-type(2){
    text-decoration: line-through;
}

.sale__head__info{
    max-width: 480px;
}

.sale__product{
    gap: 80px;
}

.sale{
    position: relative;
    padding: 0 300px;
}

.sale .image-bg{
    position: absolute;
    z-index: 1;
    top: -100px;
    left: 0;

}


.services{
    padding: 150px 300px;
}

.services__head{
    max-width: 480px;
}

.services__info__item{
    text-align: center;
    max-width: 280px;
}

.services__info__item .image{
    width: 25%;
    margin: 0 auto;
    position: relative;

}

.services__info__item:nth-child(3) .image{
    width: 19%;
}



.services__info__item .image img{

    position: relative;
    z-index: 2;
}


.services__info__item .image::before{
    content: "";
    width: 100%;
    aspect-ratio: 1/1;
    background-color: var(--bg);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 20px;

}

.services__info__item:nth-child(3) .image::before{

    width: 140%;

}

.services__info__item p{
    font-size: 16px;
}

.services__info__item p:first-of-type{
    color: #000;
    font-size: 24px;
    font-weight: 500;
    margin: 15px 0;
}

.services__info{
    gap: 200px;
    margin-top: 80px;
}

.post__item{
    max-width: 393px;
}


.slider-s{
    background-color: #fff8f6;
    padding: 100px 0;
}

.slider-s h2{
    text-align: center;
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.slider-s img{
    width: 4%;
    margin: 0 auto;
}

.slider-s p{
    max-width: 700px;
    font-size: 26px;
    margin: 30px auto;
}

.slider-s swiper-slide{
    text-align: center;
    background-color: transparent;
}

.slider-s .swiper{
    width: 80%;
}
.slider-s .swiper-slide .image{
    margin: 0 auto;
    text-align: center;
}


.stars{
    margin: 30px auto;
    color: #FFC107;
    text-align: center;
}

.stars i:nth-of-type(5){
    color: var(--nobel);
}



.last-news{
    position: relative;
}

.last-news__posts{
    gap: 75px;
    align-items: start;
}

.last-news .image-bg{
    position: absolute;
    z-index: 1;
    top: 300px;
    right: 0;

}

.last-news{
    padding: 150px 300px;
}

.post__item p{
    line-height: 24px;
    margin: 10px 0;
}

.post__item p:nth-of-type(1){
    color: #000;
    font-weight: 500;
    font-size: 18px;
}

.post__item p:nth-of-type(2){
    font-size: 14px;
}

.post__item p:nth-of-type(3){
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
}

.post__item .image{
    position: relative;
}

.post__item .image p{
    transform: rotate(90deg);
    position: absolute;
    top: 60px;
    right: -85px;
}


.good4me{
    padding: 0 300px;
    position: relative;
    z-index: 2;
}

.good4me__head{
    position: relative;
    z-index: 2;
}



.good4me::before{
    position: absolute;
    z-index: 1;
    content: "";
    background-color: var(--bg);
    width: 45%;
    height: 90%;
    top: -70px;
    left: 50px;

}

.good4me__head{
    max-width: 480px;
}

.image__list{
    margin-top: 100px;
    position: relative;
    z-index: 2;
}

.footer__main{
    gap: 100px;
    align-items: start;
    margin-top: 100px;
}

.footer__main__item{
    text-align: center;
    width: 33%;
    
}


.footer__main__item:first-child .image{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.footer__main__item:nth-of-type(2){
    position: relative;
}

.footer__main__item:nth-of-type(2) p:nth-of-type(1){
    color: #000;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
}


.footer__main__item:nth-of-type(2) input{
    margin-top: 40px;
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
    width: 570px;
    font-size: 16px;
    color: #000;
    

}

.footer__main__item:nth-of-type(2) input::placeholder{
    font-family: 'Jost';
    font-size: 16px;
    color: #000;
}

.footer__main__item:nth-of-type(2) a{
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    top: 125px;
    right: 0;
}

.footer__main__item:nth-of-type(3) ul{
    list-style: none;
    text-align: center;
}

.footer__main__item:nth-of-type(3) p{
    color: #000;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.footer__main__item p{
    font-size: 16px;
}

.footer__main{
    justify-content: space-between;
    padding: 0 300px;
}

.footer__link{
    margin-top: 50px;
    border-top: 1px solid black;
    padding: 30px 300px;
}

.footer__link .footer__icons,
.footer__link p
{
    width: 33%;
}

.footer__link .images{
    width: 20%;
}

.orange{
    color: var(--primary-color);
}

.footer__icons{
    display: flex;
    gap: 30px;
    color: var(--nobel);
}